<!DOCTYPE html>
<html>

<head>
	<title>Bagó Database</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/titleicon.png">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%- include('bootstrap.html') %>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/ventas.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/pivot.css">

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/pivot.js"></script>
	<script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
	<script type="text/javascript" src="js/plotly_renderers.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {

		});

		function manageUsers(action, email) {

			var confirmation = confirm(`Confirm Action: ${action}`);

			if (!confirmation) {
				return 0;
			}

			var xhr = new XMLHttpRequest();

			var postTo;
			switch (action) {
				case "accept":
					postTo = "acceptUserRequest";
					break;
				case "reject":
					postTo = "rejectUserRequest";
					break;
				case "deleteUser":
					postTo = "deleteUser";
					break;
				case "deleteRequest":
					postTo = "deleteRequest";
					break;
				default:
					alert("Error");
					return 0;
			}

			xhr.onreadystatechange = function () {
				if (this.readyState == XMLHttpRequest.DONE) {
					location.reload();
				}
			}

			xhr.open("POST", postTo, true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.send(`email=${email}`);

		}


		function emptyTable(table) {

			var confirmation = confirm(`Are you sure you want to empty ${table}?`);

			if (!confirmation) {
				return 0;
			}

			var xhr = new XMLHttpRequest();
			var postTo = "emptyTable";

			xhr.onreadystatechange = function () {
				if (this.readyState == XMLHttpRequest.DONE) {
					location.reload();
					alert(`${this.responseText} deleted rows`);
				}
			}
			xhr.open("POST", postTo, true);
			xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhr.send(`table=${table}`);
		}

		function loadDataToTable(table, data) {

			var confirmation = confirm(`Are you sure you want to load data to ${table}? Origin table must be CSV`);

			if (!confirmation) {
				return 0;
			}

			var separator = prompt('Please insert CSV separator: ";" or ","');

			var formData = new FormData();
			formData.append("file", data.files[0], data.id);
			formData.append("table", table);
			formData.append("separator", separator);

			var xhr = new XMLHttpRequest();
			var postTo = "loadDataToTable";

			xhr.onreadystatechange = function () {
				if (this.readyState == XMLHttpRequest.DONE) {
					alert(`${this.responseText} added rows`);
					location.reload();
				}
			}

			xhr.open("POST", postTo, true);
			xhr.send(formData);

		}
	</script>

</head>


<body>

	<% admindashboard; %>
	<%- include('header.ejs') %>
	<!--________________________MENU_______________________________________________ -->

	<nav class="navbar navbar-expand-lg navbar-dark menu">
		<button class="navbar-toggler btn-block" type="button" data-toggle="collapse" data-target="#menuSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-column flex-sm-row" id="menuSupportedContent">
			<nav class="nav nav-pills flex-column flex-sm-row">
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab1">Usuarios</a>
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab2">Solicitudes de Usuarios</a>
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab3">Status de Solicitudes</a>
				<a class="flex-sm-fill text-sm-center nav-link" data-toggle="pill" href="#tab4">Bases SQL</a>
			</nav>
		</div>

	</nav>

	<!--________________________CONTENT___________________________________________ -->

	<!--________________________TABLES 1_______________________________ -->
	<div class="container">
		<div class="tab-content">
			<div class="table-grid tab-pane fade" id="tab1">
				<div class="table-title">Usuarios</div>
				<div class="table-container" id="report1">
					<table class="table table-striped table-dark">
						<thead class="thead-light">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">E-mail</th>
								<th scope="col">Eliminar</th>
							</tr>
						</thead>
						<% var users = JSON.parse(usersQ) %>
						<% for (var i = 0; i < users.length; i++) { %>
						<tr class="whiteTr">
							<td>
								<%= users[i].name %>
							</td>
							<td>
								<%= users[i].email %>
							</td>
							<td><button class="btn btn-danger" onclick="manageUsers('deleteUser', '<%= users[i].email %>')">Borrar
									usuario</button></td>
						</tr>
						<% } %>
					</table>
				</div>
			</div>
			<!--________________________TABLES 2_______________________________ -->
			<div class="table-grid tab-pane fade" id="tab2">
				<div class="table-title">Solicitudes de Usuarios</div>
				<div class="table-container" id="report2">
					<table class="table table-striped table-dark">
						<thead class="thead-light">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">E-mail</th>
								<th scope="col">Aceptar</th>
								<th scope="col">Rechazar</th>
							</tr>
						</thead>
						<% var requests = JSON.parse(requestsQ) %>
						<% for (var i = 0; i < requests.length; i++) { %>
						<tr class="whiteTr">
							<td>
								<%= requests[i].name %>
							</td>
							<td>
								<%= requests[i].email %>
							</td>
							<td><button class="btn btn-danger" onclick="manageUsers('accept', '<%= requests[i].email %>')">Aceptar
									Solicitud</button></td>
							<td><button class="btn btn-success" onclick="manageUsers('reject', '<%= requests[i].email %>')">Rechazar
									Solicitud</button></td>
						</tr>
						<% } %>
					</table>
				</div>
			</div>
			<!--________________________TABLES 3_______________________________ -->
			<div class="table-grid tab-pane fade" id="tab3">
				<div class="table-title">Status de Solicitudes</div>
				<div class="table-container" id="report3">
					<table class="table table-striped table-dark">
						<thead class="thead-light">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">E-mail</th>
								<th scope="col">Status</th>
								<th scope="col">Olvidar</th>
							</tr>
						</thead>
						<% var requestsStatus = JSON.parse(requestsStatusQ) %>
						<% for (var i = 0; i < requestsStatus.length; i++) { %>
						<tr class="whiteTr">
							<td>
								<%= requestsStatus[i].name %>
							</td>
							<td>
								<%= requestsStatus[i].email %>
							</td>
							<td>
								<%= requestsStatus[i].status %>
							</td>
							<td><button class="btn btn-danger" onclick="manageUsers('deleteRequest', '<%= requestsStatus[i].email %>')">Olvidar</button></td>
						</tr>
						<% } %>
					</table>
				</div>
			</div>
			<!--________________________TABLES 4_______________________________ -->
			<div class="table-grid tab-pane fade" id="tab4">
				<div class="table-title">Bases SQL</div>
				<div class="table-container" id="report4">
					<table class="table table-striped table-dark">
						<thead class="thead-light">
							<tr>
								<th scope="col">Base</th>
								<th scope="col">Empty</th>
								<th scope="col">Load Data</th>
							</tr>
						</thead>
						<tr>
							<td>Ventas</td>
							<td><button class="btn btn-danger" onclick="emptyTable('ventas')">Empty</button></td>
							<td>
								<input type="file" id="ventasData">
								<button class="btn btn-success" onclick="loadDataToTable('ventas', this.previousElementSibling)">Load Data</button>
							</td>
						</tr>
						<tr>
							<td>PX Report - Monthly</td>
							<td><button class="btn btn-danger" onclick="emptyTable('pxreportmensual')">Empty</button></td>
							<td>
								<input type="file" id="pxreportmensualData">
								<button class="btn btn-success" onclick="loadDataToTable('pxreportmensual', this.previousElementSibling)">Load Data</button>
							</td>
						</tr>
						<tr>
							<td>PX Report - TAM</td>
							<td><button class="btn btn-danger" onclick="emptyTable('pxreporttam')">Empty</button></td>
							<td>
								<input type="file" id="pxreporttamData">
								<button class="btn btn-success" onclick="loadDataToTable('pxreporttam', this.previousElementSibling)">Load Data</button>
							</td>
						</tr>
						<tr>
							<td>IMS Base</td>
							<td><button class="btn btn-danger" onclick="emptyTable('baseims')">Empty</button></td>
							<td>
								<input type="file" id="baseimsData">
								<button class="btn btn-success" onclick="loadDataToTable('baseims', this.previousElementSibling)">Load Data</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>

</html>