<!DOCTYPE html>
<html>

<head>
	<title>Bagó Database</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/titleicon.png">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/ventas.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="css/pivot.css">

	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/pivot.js"></script>
	<script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
	<script type="text/javascript" src="js/plotly_renderers.js"></script>

	<script type="text/javascript">

		$(document).ready(function () {

		});

		function manageUsers (action, email) {

			var confirmation = confirm(`Confirm Action: ${action}`);

			if (!confirmation) {
				return 0;
			}
			
			var xhr = new XMLHttpRequest();

			var postTo;
			switch (action) {
				case "accept":
					postTo = "acceptUserRequest";
					break;
				case "reject":
					postTo = "rejectUserRequest";
					break;
				case "deleteUser":
					postTo = "deleteUser";
					break;
				case "deleteRequest":
					postTo = "deleteRequest";
					break;
				default:
					alert("Error");
					return 0;
			}
			
			xhr.onreadystatechange = function () {
				if (this.readyState == XMLHttpRequest.DONE) {
					location.reload();
				}
			}

			xhr.open("POST", postTo, true);
			xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhr.send(`email=${email}`);

		}

	</script>

</head>


<body>
	
	<div class="main-grid">
		<% admindashboard; %>
		<%- include('header.ejs') %>
		<!--________________________MENU_______________________________________________ -->
		<div class="menu-grid">
			<div class="menubar">
				<div onclick="showReport('tab1')">Usuarios</div>
				<div onclick="showReport('tab2')">Solicitudes de Usuarios</div>
				<div onclick="showReport('tab3')">Status de Solicitudes</div>
			</div>
		</div>
		<!--________________________CONTENT___________________________________________ -->
		<div class="main-container">
			<div>
				<!--________________________TABLES 1_______________________________ -->
				<div class="table-grid" id="tab1">
					<div class="table-title">Usuarios</div>
					<div class="table-container" id="report1">
						<table>
							<tr>
								<th>Nombre</th>
								<th>E-mail</th>
								<th>Eliminar</th>
							</tr>
							<% var users = JSON.parse(usersQ) %>
							<% for (var i = 0; i < users.length; i++) { %>
								<tr class="whiteTr">
									<td><%= users[i].name %></td>
									<td><%= users[i].email %></td>
									<td><button class="deleteUser" onclick="manageUsers('deleteUser', '<%= users[i].email %>')">Borrar usuario</button></td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
				<!--________________________TABLES 2_______________________________ -->
				<div class="table-grid" id="tab2">
					<div class="table-title">Solicitudes de Usuarios</div>
					<div class="table-container" id="report2">
						<table>
							<tr>
								<th>Nombre</th>
								<th>E-mail</th>
								<th>Aceptar</th>
								<th>Rechazar</th>
							</tr>
							<% var requests = JSON.parse(requestsQ) %>
							<% for (var i = 0; i < requests.length; i++) { %>
								<tr class="whiteTr">
									<td><%= requests[i].name %></td>
									<td><%= requests[i].email %></td>
									<td><button class="acceptUser" onclick="manageUsers('accept', '<%= requests[i].email %>')">Aceptar Solicitud</button></td>
									<td><button class="deleteUser" onclick="manageUsers('reject', '<%= requests[i].email %>')">Rechazar Solicitud</button></td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
				<!--________________________TABLES 3_______________________________ -->
				<div class="table-grid" id="tab3">
					<div class="table-title">Status de Solicitudes</div>
					<div class="table-container" id="report3">
						<table>
							<tr>
								<th>Nombre</th>
								<th>E-mail</th>
								<th>Status</th>
								<th>Olvidar</th>
							</tr>
							<% var requestsStatus = JSON.parse(requestsStatusQ) %>
							<% for (var i = 0; i < requestsStatus.length; i++) { %>
								<tr class="whiteTr">
									<td><%= requestsStatus[i].name %></td>
									<td><%= requestsStatus[i].email %></td>
									<td><%= requestsStatus[i].status %></td>
									<td><button class="deleteUser" onclick="manageUsers('deleteRequest', '<%= requestsStatus[i].email %>')">Borrar Usuario y Solicitud</button></td>
								</tr>
							<% } %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>